---
import Section from "./Section.astro";
---

<Section
    title="Model 3"
    subtitle="Agenda una prueba de manejo"
    color="black"
    top="16"
    bottom="16"
>
    <div slot="footer">
        <button>Ordenar</button>
        <button>Más Información</button>
    </div>

    <img
        slot="background"
        src="/Model3.png"
        class="h-full w-[90%] object-cover object-center border rounded-lg"
    />
</Section>
