<section class="min-h-full">
    <div class="p-5  min-h-full grid grid-cols-5 gap-4 text-black " >
        <div class="border-solid border-2 border-sky-500 col-span-3 align-middle">
            <div class="grid grid-cols-4 gap-3 min-h-full">
                <div class="flex justify-center flex-col items-center">
                    <img src="/public/headers/vehiculos/ModelS.png" alt="">
                    <span>Model S</span>
                    <div>
                        <a>Mas Info</a>
                    </div>
                </div>
                <div class="flex justify-center flex-col items-center">
                    <img src="/public/headers/vehiculos/Model3.png" alt="">
                    <span>Model 3</span>
                    <div>
                        <a>Mas Info</a>
                        <a>Ordenar</a>
                    </div>
                </div>
                <div class="flex justify-center flex-col items-center">
                    <img src="/public/headers/vehiculos/ModelX.png" alt="">
                    <span>Model X</span>
                    <div>
                        <a>Mas Info</a>
                    </div>
                </div>
                <div class="flex justify-center flex-col items-center">
                    <img src="/public/headers/vehiculos/ModelY.png" alt="">
                    <span>Model Y</span>
                    <div>
                        <a>Mas Info</a>
                        <a>Ordenar</a>
                    </div>
                </div>
                <div class="flex justify-center flex-col items-center">
                    <img src="/public/headers/vehiculos/Cybertruck.png" alt="">
                    <span>Cybertruck</span>
                    <div>
                        <a>Mas Info</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="border-solid border-2 border-red-500 w-2">2</div>
        <div class="border-solid border-2 border-violet-700">3</div>
    </div>
</section>>
